{{title}}


<h3>Interpolation</h3>

{{"bla"}}<br>

Dit is een vorm van {{interpolationVariabele}} binding. <br>

12 * 3 = {{12 * 3}} <br>

antwoord1 eigenschap() => {{antwoord1?.eigenschap()}}<br>
antwoord2 eigenschap() => {{antwoord2?.eigenschap()}}<br>

<div *ngIf="antwoord1"> antwoord1 is niet aanwezig  </div>
<div *ngIf="antwoord2"> antwoord2 is aanwezig  </div>

<h3>Property binding</h3>


<input type="text" value= "klant.naam"><br><br>
<input type="text" [value]= "klant.naam">

<h3>Event binding</h3>

<button onclick="alert('hello from Javascript!')">JS button</button> <br><br>
<button (click)="clickButton()" >Angular button</button> <br><br>
<a href="file:///home/wchau/AngularProjects/AngularFundamentals-Binding/src/buttonActionsExample.html" target="_blank">link to file with JS button via addEventListener</a><br><br>
<button (click)="clickButton(parameter)" >Angular button with parameter</button> <br><br>

Parameter via let statement variabele:
<ul>
  <li *ngFor="let num of [1,2,3]">
      {{telOp(num)}}
  </li>
</ul>

<button (click)="onItemClick($event)" >Get info about the event itself (see console)</button> <br><br>

Met hashtag (#) variabelen:<br>
<input #invoer>
<button (click)="clickButton(invoer.value)" >Klik hier</button> <br><br>


<h3>2-way binding</h3>

<h5>Template driven</h5>
<input [(ngModel)]="tweeWeg">{{tweeWeg}}

<h5>Reactive</h5>
<input [formControl]="reactiveInput"> {{reactiveInput.value}}

<router-outlet></router-outlet>
